{% extends 'client-base.html'%}

{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header-title" style="max-width: 382px;">
                Optimize Your Hiring Process with Our Advanced ATS Solution
            </h1>
            <p class="section-header-description">
                Transform your recruitment process with our advanced Applicant Tracking System (ATS). Streamline job postings, track applications, and identify top talent faster and more efficiently. Simplify hiring and focus on building your dream team.
            </p>
            <!-- <a href="#" class="hero-section-cta">Read More</a> -->
        </div>
    </div>
</section>

<section class="banner-section">
    <div class="container">
    </div>
</section>

{% endblock %}