<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <link rel="stylesheet" href="{% static './css/filter.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <title>Filter | ATS Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script>

        $(document).ready(function () {
            $(".comment-wrapper").slideUp(0)
            $(".project-wrapper").slideUp(0)
            $(".education-wrapper").slideUp(0)
            $(".work-experience-wrapper").slideUp(0)

            $(".comment-wrapper-title").click(function () {
                $(this).siblings().slideToggle()
            })

            $(".project-wrapper-title").click(function () {
                $(this).siblings().slideToggle()
            })

            $(".education-wrapper-title").click(function () {
                $(this).siblings().slideToggle()
            })

            $(".work-experience-wrapper-title").click(function () {
                $(this).siblings().slideToggle()
            })


        })
    </script>

    <style>
        .filter-form-btn {
            padding: 12px 22px;
            color: white;
            background: #181818;
            border: none;
            width: fit-content;
            border-radius: 12px;
        }

        .grid-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 1em;
        }

        .view-resume-cta {
            width: fit-content;
        }
    </style>

    <script>
        $(document).ready(function(){
            $(".select-title-wrapper").click(function(){
                $(this).find(".dropdown-icon").toggleClass("dropdown-icon-active")
                $(this).siblings(".option-wrapper").slideToggle()
            })
        })
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .select-label-wrapper {
            padding: 6px 12px;
            border: 1px solid #cccc;
            border-radius: 2px;
        }

        .multi-select-title {
            font-size: 16px;
        }

        .option-wrapper {
            padding: 0;
            border: 1px solid #cccc;
            border-top: none;
        }

        .selct-option-input {
            font-size: 16px;
        }

        .select-title-wrapper {
            padding: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #cccc;
            margin-bottom: 1px;
        }

        form {
            max-width: 400px;
        }

        .dropdown-icon svg {
            height: 16px;
            rotate: 0deg;
            transition: .3s;
        }

        .dropdown-icon-active svg {
            rotate: 180deg;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        .multi-select-option {
            padding: 2px;
        }

        .option-wrapper {
            display: none;
        }

        .selected-option {
            width: fit-content;
            display: block;
            padding: 6px 3px 6px 9px;
            border: 1px solid #cccc;
            border-radius: 2px;
        }

        .selected-option {
            display: flex;
            align-items: center;
        }

        .selected-option svg {
            height: 12px;
        }

        .multi-select-option-input {
            width: fit-content!important;
        }

        .multi-select-option {
            padding: 6px 9px;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .multi-select-option label {
            display: block;
            width: 100%;
            cursor: pointer;
        }


        .section-header {
            margin-bottom: 1em;
        }

        .multi-select-option:hover {
            background: rgb(232, 232, 232);
        }

        .candidate-skill {
            font-size: 14px;
            padding: 3px;
        }

        .candidate-skill {
            font-size: 12px;
            padding: 3px 9px;
            border-radius: 100vh;
            border: 1px solid #cccc;
        }

        .skillset-wrapper {
            margin: 1em 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3px;
        }
    </style>

</head>

<body>
     <!-- navbar start  -->
     {% include 'inc/navbar.html' %}
     <!-- navbar end  -->
    <section class="hero-section">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header-title">
                    Effortless Candidate Discovery and Filtering
                </h1>
                <p class="section-header-description">
                    Effortlessly locate the perfect candidates with our advanced search and filter tools. Refine your
                    search using multiple criteria such as skills, experience, location, and more to find the right
                    match in seconds.
                </p>
            </div>
        </div>
    </section>

    <section class="filter-section">
        <div class="container">
            <div class="filter-form-wrapper">
                <form action="{% url 'webpages-candidate-filter' %}" method="POST" class="filter-form">
                    {% csrf_token %}
                    <!-- company based select start-->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Company</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for company in companyList %}
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="company" value="{{company.id}}" id="companyCheckBox{{company.id}}">
                                    <label for="companyCheckBox{{company.id}}">{{company.company_name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- company based select end -->

                    <!-- Candidate Role based select start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Role</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for roleObj in candidateRoleList%}
                                <!-- option 1 start  -->
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="role" value="{{roleObj.role}}" id="candidateRoleCheckbox{{roleObj.id}}">
                                    <label for="candidateRoleCheckbox{{roleObj.id}}">{{roleObj.role}}</label>
                                </div>
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>
                    <!-- Candidate Role based select end -->

                    <!-- Interview Status select start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Interview Status</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for interviewStatusObj in interviewStatusList %}
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="interviewStatus" value="{{interviewStatusObj.interviewStatus}}" id="interviewStatusCheckbox{{interviewStatusObj.id}}">
                                    <label for="interviewStatusCheckbox{{interviewStatusObj.id}}">{{interviewStatusObj.interviewStatus}}</label>
                                </div>
                                {% endfor %}
                               
                               
                            </div>
                        </div>
                    </div>
                    <!-- Interview Status select end -->

                    <!-- Candidate CTC start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">CTC</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for ctcObj in ctcList %}
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="ctc" value="{{ctcObj.ctc}}" id="ctcCheckbox{{ctcObj.id}}">
                                    <label for="ctcCheckbox{{ctcObj.id}}">{{ctcObj.ctc}} LPA</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Candidate CTC end -->
                    
                    <!-- Candidate Skillset start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Skillset</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for skill in candidateSkillset %}
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="candidateSkillset" value="{{skill.skill_name}}" id="candidateSkillsetCheckbox{{skill.id}}">
                                    <label for="candidateSkillsetCheckbox{{skill.id}}">{{skill.skill_name}}</label>
                                </div>
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>
                    <!-- Candidate Skillset end -->

                    <!-- Candidate Experience start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Experience</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">
                                {% for experienceObj in experienceList %}
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="experience" value="{{experienceObj.experience}}" id="experienceCheckbox{{experienceObj.id}}">
                                    <label for="experienceCheckbox{{experienceObj.id}}">{{experienceObj.experience}} Years</label>
                                </div>
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>
                    <!-- Candidate Experience end -->

                    <!-- Reason to Reject Candidate start -->
                    <div class="select-wrapper">
                        <div class="multi-select" id="selectid">
                            <div class="select-title-wrapper">
                                <label for="selectid" class="multi-select-title">Reason to Reject Candidate</label>
                                <span class="dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="selected-option-wrapper">
                            </div>
                            <div class="option-wrapper">

                                {% for reason in reasonsToRejectCandidate %}
                                <!-- option {{reason.id}} start  -->
                                <div class="multi-select-option">
                                    <input class="multi-select-option-input" type="checkbox" name="reasonsToReject" value="{{reason}}" id="reasonsToRejectCandidatelabel{{reason.id}}">
                                    <label for="reasonsToRejectCandidatelabel{{reason.id}}">{{reason}}</label>
                                </div>
                                <!-- option {{reason.id}} end  -->
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>
                    <!-- Reason to Reject Candidate end -->

                    <input type="submit" >
                </form>
            </div>
            <div class="candidate-list-wrapper">
                <div class="candidate-list-item">
                    {% for candidate in candidates %}
                    <div class="candidate-profile-card">
                        <div class="candidate-profile-card-group">
                            <h1 class="candidate-profile-info-item candidate-profile-info-item-name">
                                {{candidate.first_name}} {{candidate.last_name}}
                            </h1>
                            <div class="candidate-profile-rating-wrapper">
                                {% for star in candidate.ratinglist %}
                                    <span
                                        class="candidate-profile-rating-star-icon-wrapper candidate-profile-rating-star-active">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-star">
                                            <polygon
                                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                            </polygon>
                                        </svg>
                                    </span>
                                {% endfor %}
                                <small>
                                    {{candidate.candidate_rating }} Star Rating
                                </small>
                            </div>
                        </div>
                        <a href="media/{{candidate.resume_file}}" target="_blank" class="view-resume-cta">View Resume</a>
                        <p class="candidate-profile-info-item candidate-profile-info-item-role">{{candidate.role}}</p>
                        <p class="candidate-profile-info-item candidate-profile-info-item-email">
                            {{candidate.email}}
                        </p>
                        <p class="candidate-profile-info-item candidate-profile-info-item-phone-number">
                            {{candidate.phone_number}}
                        </p>
                        <p class="candidate-profile-info-item candidate-profile-info-item-experience">{{candidate.experience}} Years</p>
                        <p class="candidate-profile-info-item candidate-profile-info-item-ctc">{{candidate.ctc}} LPA</p>
                        <div class="skillset-wrapper">
                            {% for skillObj in candidate.candidateSkillSetList %}
                            <span class="candidate-skill">{{skillObj.skill_name}}</span>
                            {% endfor %}
                        </div>
                        
                        <!-- commen list start -->
                        <div class="comment-list">
                            <h3 class="wrapper-title comment-wrapper-title">
                                comment
                                <span class="dropdown-icon-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </h3>
                            {% for commentObj in candidate.candidateTimelineList%}
                            <div class="comment-wrapper">
                                <div class="comment">
                                    {{commentObj.comment}}
                                </div>

                                <div class="comment-author">
                                    <div class="comment-author-group">
                                        <div class="comment-author-profile-img">
                                        </div>
                                        {{commentObj.author}}
                                    </div>
                                    <div class="comment-date">
                                        {{commentObj.created_at}}
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <!-- commen list end -->
                        <!-- project start -->
                        <div class="project-list">
                            <h1 class="wrapper-title project-wrapper-title">
                                Projects
                                <span class="dropdown-icon-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </h1>
                            {% for projectObj in candidate.candidateProjectList%}
                            <div class="project-wrapper">
                                <div class="project-card">
                                    <h1 class="project-info-item project-name">{{projectObj.project_name}}</h1>
                                    <p class="project-info-item project-timestamp-date">
                                        <span class="project-info-item project-starting-date">{{projectObj.start_at}}</span>
                                        <span>-</span>
                                        <span class="project-info-item project-ending-date">{{projectObj.end_at}}</span>
                                    </p>
                                    <a href="{{projectObj.project_link}}" target="_blank" class="project-cta">View Project</a>
                                    <!-- <a href="" class="project-cta">Github</a> -->
                                    <div class="project-summary-wrapper">
                                        <h3 class="project-wrapper-title project-info-item">Summary</h3>
                                        <p class="project-summary project-info-item">
                                            {{projectObj.project_description}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <!-- project end -->
                        <!-- work experience start -->
                        <div class="work-experience-list">
                            <h1 class="wrapper-title work-experience-wrapper-title">
                                Work Experience
                                <span class="dropdown-icon-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </h1>
                            {% for workExperienceObj in candidate.candidateExperienceList%}
                            <div class="work-experience-wrapper">
                                <div class="work-experience-card">
                                    <h1 class="work-experience-info-item work-experience-company-name">
                                        Company - {{workExperienceObj.company_name}}
                                    </h1>
                                    <p class="work-experience-info-item work-experience-role">
                                        Designation - {{workExperienceObj.designation}}
                                    </p>
                                    <p class="work-experience-info-item work-experience-timestamp">
                                        <span class="work-experience-timestamp-item">Exeprience - </span>
                                        <span
                                            class="work-experience-timestamp-item work-experience-timestamp-item-starting-date">
                                            {{workExperienceObj.startingDate}}
                                        </span>
                                        <span class="work-experience-timestamp-item">-</span>
                                        <span
                                            class="work-experience-timestamp-item work-experience-timestamp-item-ending-date">
                                            {{workExperienceObj.endDate}}
                                        </span>
                                    </p>
                                    <p class="work-experience-info-item work-experience-info-item-location">
                                        Location - {{workExperienceObj.company_location}}
                                    </p>
                                    <div class="work-experience-summary-wrapper">
                                        <h3 class="work-experience-wrapper-title work-experience-info-item">Summary</h3>
                                        <p class="work-experience-summary work-experience-info-item">
                                            {{workExperienceObj.summary}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <!-- work experience end -->
                        <!-- candidate education start -->
                        <div class="education-list">
                            <h1 class="wrapper-title education-wrapper-title">
                                Education
                                <span class="dropdown-icon-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </h1>

                            {% for educationObj in candidate.candidateEducationList%}
                            <div class="education-wrapper">
                                <div class="education-card">
                                    <h1 class="education-info-item education-info-item-degree-name">
                                       {{educationObj.education_name}}
                                    </h1>
                                    <p class="education-info-item education-info-item-college-university-name">
                                        {{educationObj.university_college_name}}
                                    </p>
                                    <p class="education-info-item education-timestamp">
                                        <span
                                            class="education-timestamp-item education-timestamp-item-starting-date">
                                            {{educationObj.starting_date}}
                                        </span>
                                        <span class="education-timestamp-item">-</span>
                                        {% if not educationObj.pursuing %}
                                        <span class="education-timestamp-item education-timestamp-item-ending-date">
                                            {{educationObj.ending_date}}
                                        </span>
                                        {% endif %}
                                        {% if educationObj.pursuing %}
                                        <span class="education-timestamp-item education-timestamp-item-ending-date">
                                            <!-- {{educationObj.pursuing}} -->
                                            Pursuing
                                        </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- candidate education end -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        const companyMultiSelect = new MultiSelectTag('companyMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const candidateRoleMultiSelect = new MultiSelectTag('candidateRoleMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const interviewStatusMultiSelect = new MultiSelectTag('interviewStatusMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const candidateCtcMultiSelect = new MultiSelectTag('candidateCtcMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const candidateSkillsetMultiSelect = new MultiSelectTag('candidateSkillsetMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const candidateExperienceMultiSelect = new MultiSelectTag('candidateExperienceMultiSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })

        const reasonToRejectCandidate = new MultiSelectTag('reasonToRejectCandidate', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Search contact',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        })
    </script>
</body>

</html>